.product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}

.image-slider {
    width: 500px;
    height: 500px;
    position: relative;
    background-size: cover;
}

.product-images {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.product-images img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product-images img.active {
    opacity: 0.5;
}

.details {
    width: 50%;
}

.details .product-brand {
    font-size: 30px;
}

.details .product-short-des {
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price {
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount {
    color: #ff7d7d;
    font-size: 20px;
}

.product-sub-heading {
    font-size: 30px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}

.size-radio-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
}

.size-radio-btn.check {
    background: #383838;
    color: #fff;
}

.btn {
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}

.cart-btn {
    margin-right: 2%;
    background: #383838;
    color: #fff;
}

.detail-des {
    padding: 0 10vw;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
}

.des {
    color: #383838;
    line-height: 25px;
    white-space: pre-wrap;
    margin-bottom: 50px;
}

.ratings {
    display: flex;
}

.ratings .star {
    width: 30px;
    height: 30px;
}

.rating-count {
    font-family: 'lato', sans-serif;
    opacity: 0.5;
    font-size: 14px;
    line-height: 40px;
    margin-left: 20px;
}

.review-headline,
.review-field {
    width: 100%;
    height: 40px;
    border: 2px solid #c9c9c9;
    margin: 10px 0;
    padding: 10px;
    line-height: 40px;
    font-family: 'lato', sans-serif;
    color: #000;
    outline: none;
}

::placeholder {
    color: #c9c9c9;
}

.review-field {
    height: 160px;
    resize: none;
    padding: 0 10px;
}

.review-headline:focus,
.review-field:focus {
    border-color: #d5be8b;
}

.review-headline:focus::placeholder,
.review-field:focus::placeholder {
    color: #d5be8b;
}

.rating-text {
    font-family: 'lato', sans-serif;
    color: #c9c9c9;
    text-transform: uppercase;
    margin: 10px 0;
}

.rating-star {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.add-review-btn,
.approveBtn,
.declineBtn,
.refundBtn {
    border: none;
    outline: none;
    background: #d5be8b;
    padding: 10px 20px;
    color: #fff;
    font-family: 'lato', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
}

.review-section,
.add-review-section {
    width: 100%;
    padding: 100px 5vw 0;
}

.error {
    display: block;
    font-size: .8rem;
    color: rgb(255, 41, 41);
    margin: 5px 0;
    font-family: 'lato', sans-serif;
    user-select: none;
    opacity: 0;
}

.error.show {
    opacity: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    display: none;
}

.column1 {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.refund-btn {
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #383838;
    color: #fff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px 0;
}

input[type="text1"],
textarea {
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0;
    color: #383833;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'roboto', sans-serif;
}