body{
    width: 100%;
    display: block;
    min-height: 90vh;
    padding: 0 5vw;
    position: relative;
    font-family: roboto, sans-serif;   
}

.logo{
    margin: 20px auto 50px;
}

.hide{
    display: none;
}

/* become seller element */
.become-seller{
    border-radius: 10px;
    background: #fff;
    padding: 30px;
}

.heading{
    
    font-weight: 700;
    font-size: 18px;
}

.des{
    margin: 20px 0;
    
    line-height: 25px;
}

.btn{
    border: none;
    outline: none;
    background: #383838;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    
    font-size: 14px;
    cursor: pointer;
}

/* apply form */
.apply-form input, textarea{
    font-weight: 500;
}

.apply-form input:not(input[type="checkbox"]){
    width: 100%;
}

.apply-form textarea{
    width: 100%;
    height: 90px;
    resize: none;
    padding: 10px 20px;
}

.submit-btn{
    margin: 10px 0;
    width: auto;
    padding: 0 40px;
}

/* product listing */
.add-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.add-product-title{
    
    color: #383838;
}

.no-product-image{
    display: block;
    margin: auto;
}

.hide{
    display: none;
}

.product-container{
    padding: 0;
}

.tag{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 10px;
    border-radius: 2px;
    background: #fff;
    color: #383838;
}

.product-card:hover .card-action-btn{
    opacity: 1;
    pointer-events: all;
}

.card-action-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 0.5s;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.card-action-btn img{
    height: 18px;
}

.open-btn{
    top: 60px;
}

.delete-popup-btn{
    top: 110px;
    background: #f25252;
}

.delete-alert{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.alert{
    width: 400px;
    height: auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 15px;
}

.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-btn img{
    width: 15px;
}

.delete-svg{
    height: 60px;
    display: block;
    margin: 20px auto;
}

.text{
    color: #383838;
    
    text-align: center;
}

.delete-btn{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #f25252;
    margin: 15px auto 0;
    display: block;
    padding: 10px 20px;
    
    color: #fff;
}